[submodule "typesetting"]
	path = typesetting
	url = https://github.com/jiahaoxiang2000/typesetting.git
[submodule ".github/prompts"]
	path = .github/prompts
	url = https://github.com/jiahaoxiang2000/prompts.git
[submodule ".claude"]
	path = .claude
	url = https://github.com/jiahaoxiang2000/claude-conf.git
